/fbref
/paste.txt
/transfermarkt
/immagini
/classifica
/SerieB
/Premier_League
/data
adjusted_dataset.xlsx
ITACPI.xls
mixed_dataset.xlsx
PL_mins_played.xlsx
Punti_Nazionale_Under21.xlsx
trasfer_SerieA.xlsx
saldo_trasferimenti.xlsx
ToDo
appunti.docx
Ranking_Italy.xlsx
scraping.ipynb
scraping.py
scraping.ipynb
